* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    color: aliceblue;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root{
    --footer-height: 7vh;
}


body {
    font-family: 'Titillium Web', sans-serif;
    font-size: medium;
    background: rgba(0, 0, 0, 1);
}

main{
    
    padding: 15vh 1vh var(--footer-height) 1vh;
}
ol,
ul {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1vh;
}

li.nasa-item {
    height: 25vh;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.hidden {
    display: none;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
}

.nasa-img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 1s;
}

.nasa-img.visible {
    opacity: 1;
}

li:hover>img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.title {
    background-color: rgb(99, 99, 99, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: -100%;
    color: white;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
}

div.title.visible {
    opacity: 1;
    bottom: 0;
    transition: all 0.5s;
}

/* FOOTER */
.footer {
    background-color: rgba(99, 99, 99, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    height: var(--footer-height); 
}


.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top:2vh;
}

.footer-item {
    color: white;
    opacity: 0.5;
    transition: all 0.3s;

}

.footer-text {
    font-weight: 600;
}

.footer-svg {
    filter: invert(100%) ;

}

.footer-svg:hover {
    filter: invert(69%) sepia(9%) saturate(393%) hue-rotate(108deg) brightness(97%) contrast(92%);
}