:root{
    --animation-duration: 10s;
}

.winners{
    mix-blend-mode:overlay ;  
    overflow: hidden; 
}
.winners::after, .winners::before  {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg,#1FFCF4, #F9F871, #9400A8, #F038FF,#FF5900, #FF00B8);
	background-size: 200%;
	width: calc(100%);
	height: calc(100%);
	z-index: -1;
	animation: steam 5s ease infinite;
    mix-blend-mode: multiply;
    overflow: hidden;

}
.button:hover{
    animation: steam 5s ease infinite;
}
@keyframes steam {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .winners::after {
	filter: blur(50px);
} */

.wrapper-field1::after{
    content:'';
    position:absolute;
    grid-area: field1;
    z-index: -1;
    left:5vh;
	top: 0vh;
    background: url('../img/twocutes1.png');
    width:20vw;
    height:20vw;
background-size: contain;
    background-repeat: no-repeat;
    -webkit-mask-image: url('../img/textured-paper.png');
    mask-image: url('../img/textured-paper.png');
    filter: invert(80%);
    animation: cutes var(--animation-duration) cubic-bezier(0.215, 0.610, 0.355, 1) alternate  infinite;

}

.wrapper-field2::after{
    content:'';
    position:absolute;
    grid-area: field1;
    z-index: -1;
    right:5vh;
	top: 0vh;
    background: url('../img/twocutes2.png');
    width:20vw;
    height:20vw;
background-size: contain;
    background-repeat: no-repeat;
    -webkit-mask-image: url('../img/textured-paper.png');
    mask-image: url('../img/textured-paper.png');
    filter: invert(80%);
    animation: cutes var(--animation-duration) cubic-bezier(0.215, 0.610, 0.355, 1) alternate infinite;

}

 @keyframes cutes {


 	0% {
        transform: rotate(-2deg)  ;
        top:0;
	}
    25%{
        transform: rotate(2deg)  scale(1.1) ;
        top:20vh;
    }
    50%{
        transform: rotate(-2deg)  scale(1) ;
        top:40vh;
    }
    75%
    {
        transform: rotate(0deg) translateY(20vh) scale(1.1);
        top:50vh;
;
    }
	100% {
        transform: rotate(0deg)  scale(0.6);
        top:70vh;
	} 
} 


@media (max-width: 425px) {
        main{
            min-height: 360px;
    }
    .gameField {
      grid-template-columns: repeat(6,40px);
      grid-template-rows: repeat(6, 40px);
      border-radius: 40px;
      grid-gap: 7px;
      border-width: 5px;
    }
  
    h2,
    span.cell-icon,
    .info-player {
  
      font-size: x-large;
    }
    span.material-icons-outlined {
      font-size: 38px;
    }
    .cell {
      border: 2px solid var(--color-two);
    
    }
    main {
      width: 100vw;
      height:100%;
      grid-gap: 0;
      grid-template-rows: 8% 10% 45% 150px;  
      grid-template-columns: 1vw 90vw 1vw;
  /*     grid-template-areas:
        "wrapper-players wrapper-players wrapper-players"
        "field1 field-header field2"
        "field1 wrapper-gameField field2"
        "field1 diceField field2";
      justify-content: center;
      align-items: center;
      max-height: 90vh;
      overflow: hidden; */
    }
    .wrapper-field1, 
    .wrapper-field2{
      width: 0;
    }

    .info-player {
        width: 50vmin;

    }
    .wrapper-table {
        padding:6vmin;
        position: absolute;
        z-index: -3;
        background-color: var(--color-five);
        background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
        font-size: 5vmin;
  }
  .info-header{
      font-size: xx-large;
  }
}