/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
  --color-one: #FFE7FF;
  --color-two: #FFF;
  --color-three: rgb(249, 249, 113);
  --color-four: rgb(31, 252, 244);
  --color-five: #4b4453;
  --field-size: 6;
}

* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.3s;
}

ol,
ul,
a,
p {
  list-style: none;
  text-decoration: none;
  color: var(--color-two);
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--color-five);
  background-image: url('../img/freechalkboard.png'), url("https://www.transparenttextures.com/patterns/soft-wallpaper.png"); 
  background-blend-mode: soft-light;

  font-family: 'Pangolin', cursive;
  /*  font-family: 'Comfortaa', cursive; */
  font-weight: 600;
  font-size: 2vh;
  color: var(--color-two);
  margin: 0;
  /*   display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh; */
  height: 100vh;
  display: grid;
  grid-gap: 1vh;
  grid-template-rows: 5vh 87vh 6vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  overflow: hidden;
}

.header {
  /* flex: 0 0 auto; */
  grid-area: header;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*GAME FIELD*/
main {
  grid-area: main;
  display: grid;
  grid-gap: 1vh;
  grid-template-rows: 5vh 10vh 50vh 150px;

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "wrapper-players wrapper-players wrapper-players"
    "field1 field-header field2"
    "field1 wrapper-gameField field2"
    "field1 diceField field2";
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  overflow: hidden;
  align-content:space-evenly;;
}

.wrapper-field1 {
  grid-area: field1;
}

.wrapper-field2 {
  grid-area: field2;
}

.container-grid {
  padding: 1vh;
  display: grid;
  grid-gap: 1vh;
}

.wrapper-players {
  grid-area: wrapper-players;
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');

}

.info-player {
  font-family: 'Pangolin', cursive;
  border-radius: 4vh;
  font-weight: 600;
  width: 130px;
  padding-left: 1vw;
  color: var(--color-one);
  /* background-image:  linear-gradient(45deg,#1FFCF4, #F9F871, #FFACFF, #FF9C57, #F9F871, #1FFCF4); */
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 4vh;

  border: 0;  
}

.info-player:active,
.info-player:focus,
.info-player:focus-visible { 
  border-color: #FFACFF;
  border-width: 0;  
  outline: #FFACFF auto 1px;

}

.wrapper-gameField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: wrapper-gameField;

}

.gameField {
  grid-template-columns: repeat(6, 7vh);
  grid-template-rows: repeat(6, 7vh);
  border: 1vh solid var(--color-one);
  border-radius: 4vh;
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');
  padding: 2vh;

}




.cell {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 100%;
  border: 0.5vh solid var(--color-two);
  overflow: hidden;
  transition: all 0.1s;
  -webkit-mask-image: url('../img/chalk-on-black.png');
  mask-image: url('../img/chalk-on-black.png');

}

h2 {
  color: transparent;
  background-image: linear-gradient(45deg, #1FFCF4, #F9F871, #FFACFF, #FF9C57, #F9F871, #1FFCF4);
  background-clip: text;
  -webkit-background-clip: text;
}

h2,
span.cell-icon {
  /*   width:100%; */
  font-size: 4vh;
  text-align: center;
  transition: all 0.3s;
}




.cell-hover:hover {
  transform: scale(1.1);
  color: var(--color-three);
}

span.material-icons-outlined {
  font-size: 5vh;
  color: var(--color-three);
}

.cell-fail {
  background-color: rgb(255, 0, 0, 0);
  animation-name: color_fail;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes color_fail {
  0% {
    background-color: rgb(0, 0, 0, 0);
    border: 0.5vh solid var(--color-two);
  }

  100% {
    background-color: #F038FF;
    border: 0.5vh solid #F038FF;
  }
}



/*DICE FIELD*/
.diceField {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 3vh;
  grid-template-columns: 1fr 1fr;
  grid-area: diceField;
}

.dice {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 12vh;
  filter: invert(1);
  transition: opacity 0.2s;
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');
}


.dice-one {
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');
}

.dice-two {
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');
}

.cursor-pointer {
  cursor: pointer;
}

.invisible,
.die-pip.invisible {
  opacity: 0;
  transition: opacity 0.3s;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.field-header {
  grid-area: field-header;
  overflow: hidden;
  color: var(--color-one);
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');
}

/* FOOTER */
.footer {
  grid-area: footer;
  width:100vw;
  background: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  /*   backdrop-filter: blur(5px); */
  /*   -webkit-mask-image: url('../img/chalk-big3.png');
  mask-image: url('../img/chalk-big3.png');  */

  /*   border-top: 1vh solid var(--color-two) ; */
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 30rem;
  flex-wrap: wrap;
}

.footer-item {
  color: var(--color-two);
  opacity: 0.5;
  transition: all 0.3s;
}

.footer-text {
  padding: 0.5rem;
  font-weight: 400;
}

.footer-svg {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  filter: invert(100%) sepia(8%) saturate(1232%) hue-rotate(109deg) brightness(95%) contrast(88%);
}

.footer-svg:hover {
  filter: invert(20%) sepia(9%) saturate(393%) hue-rotate(108deg) brightness(97%) contrast(92%);
}

.header {
  width: 100vw;
  grid-area: header;
  background: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
}


/* History TABLE*/

.wrapper-table {
  position: absolute;
  padding: 6vh;
  z-index: -3;
  background-color: var(--color-five);
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  border: 0.7vh solid rgba(255, 231, 255, 0.5);
  border-radius: 4vh;
  font-size: 4vh;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0;
}



table {
  position: relative;
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');
}

td,
th,
tr {

  text-align: left;
  padding: 0.5vh;
}

tr:nth-child(even) {
  color: var(--color-four);
  background: rgba(249, 249, 113, 0.3);


}

tr:nth-child(odd) {
  color: var(--color-three);
  background: rgb(31, 252, 244, 0.3);



}

tr.table-head {
  color: transparent;
  background: rgb(31, 252, 244, 0);
  background-image: linear-gradient(45deg, #1FFCF4, #F9F871, #FFACFF, #FF9C57, #F9F871, #1FFCF4);
  background-clip: text;
  -webkit-background-clip: text;

}



/*BUTTONS*/
header.header {
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  color: var(--color-five);
  justify-content: center;
  font-size: 2vh;
  padding: 0.5vh 1.5vh 0.5vh 1.5vh;
  display: flex;
  align-items: center;
  border-radius: 2vh;
  border: 0 solid var(--color-two);
  overflow: hidden;
  transition: all 0.1s;
  -webkit-mask-image: url('../img/textured-paper.png');
  mask-image: url('../img/textured-paper.png');
  cursor: pointer;
  background-image: linear-gradient(45deg, #1FFCF4, #F9F871, #FFACFF, #FF9C57, #F9F871, #1FFCF4);
  background-size: 200%;
}