.reduce-brightness-filter {
    filter: brightness(0.8) saturate(1.25);
  }

  .claymorphism-box {  
    border-radius: 30px;
    box-shadow: 10px 10px 16px -2px var(--color-five), -10px -10px 16px -2px var(--color-four);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);        
    }

  .claymorphism {  
  box-shadow: 10px 10px 16px -2px var(--color-five), -10px -10px 16px -2px var(--color-four);
  padding:0.5rem;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      
  }

  .claymorphism:active {
    cursor: pointer;
    box-shadow: inset -10px -10px 10px var(--color-four), inset 10px 10px 10px var(--color-five);
  }

.hit-the-floor {
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
      transition: color 0.2s;      
   }

   .hit-the-floor:hover{
    color:transparent;
   }

   .filter{
    filter: brightness(0) saturate(100%) invert(77%) sepia(19%) saturate(213%) hue-rotate(108deg) brightness(88%) contrast(83%);
}