  .claymorphism-box {  
    border-radius: 30px;
    box-shadow: 10px 10px 16px -2px var(--color-five), -10px -10px 16px -2px var(--color-four);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);        
    }

  .claymorphism {  
  box-shadow: 10px 10px 16px -2px var(--color-five), -10px -10px 16px -2px var(--color-four);
  padding:0.5rem;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      
  }

  .claymorphism:active {
    cursor: pointer;
    box-shadow: inset -10px -10px 10px var(--color-four), inset 10px 10px 10px var(--color-five);
  }
  .claymorphism-hover:hover {
    cursor: pointer;
    box-shadow: inset -10px -10px 10px var(--color-four), inset 10px 10px 10px var(--color-five);
  }

   .filter{
    filter: brightness(0) saturate(100%) invert(77%) sepia(19%) saturate(213%) hue-rotate(108deg) brightness(88%) contrast(83%);
}