:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --font1: 60px;
  --font2: 40px;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.btn_goldy {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 220px;
  height: 55px;
  cursor: pointer;
  border: 0;
  transition: all 0.3s;
  background-color: var(--color-gold);
}
.btn_goldy:hover,
.btn_goldy:focus {
  color: #ffffff;
}




body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  background-color: #000;
  color: #ffffff;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}




.header__bg {
  background: url('./assets/img/header_bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  width: 1440px;
  height: 900px;
  position: absolute;  
  z-index: -1;
}


.header__container {
    display: inline-flex;
    justify-content: space-between;
}

/* -----------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------sections------------------------------------------------*/




.wrapper__skills  {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden
}
.wrapper__skills::before,
.wrapper__skills::before {
  content:'';
  display:block;
  width: 700px;
  height: 2px;
  background-color: var(--color-gold);
  position: absolute;
  top:39px;
}

.section__header {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: var(--color-gold);
  background-color: #000;
  margin-bottom: 60px;
  position: relative;
  padding: 0 20px;
  top: -33px;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

/* ------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------navigatio------------------------------------------------*/
.logo {
  width: 50px;
  height: 50px;
  background-image: url(./assets/svg/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s;
  position: relative;
  left: 20px;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header__navigation {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}
.navigation {
   display: flex;
   margin-left: 790px;
   list-style: none;
}
.navigation__item {
  margin-right: 30px; 
}
.navigation__link {
 font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color:#ffffff;
  transition: all 0.3s;
  cursor: pointer;
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--color-gold);
}

.language__switch {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  cursor: po"Inter";
  color:#ffffff;
}
.language__link {
   font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  cursor: po"Inter";
  color:#ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.language__link:not(:last-child) {
 margin-right: 8px; 
}
.switch_on {
  color: var(--color-gold);
}
/* ------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------hero ---------------------------------------------------*/
.hero {
  padding-top: 160px;
  padding-bottom: 350px;
}
.hero__content-box {
  width: 500px;
  margin-left: 60px;
}
.hero__header {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
}
.hero__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  width: 470px;
  margin-bottom: 25px;
}
/* ------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------skills---------------------------------------------------*/
.skills {
  padding-top: 100px;
}

.skills__items {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.skill__item {
 background-position: center top;
 padding-top: 100px;
 padding-right: 20px;
 padding-left: 20px;
}
.skill__item:nth-child(1) {
 background-image: url('./assets/svg/camera.svg');
 background-size: 62px 50px;
 background-repeat: no-repeat;
 background-position: center 0;
}
.skill__item:nth-child(2) {
 background-image: url('./assets/svg/video.svg');
 background-size: 60px 50px;
 background-repeat: no-repeat;
 background-position: center 0;
}
.skill__item:nth-child(3) {
 background-image: url('./assets/svg/image.svg');
 background-size: 66px 50px;
 background-repeat: no-repeat;
 background-position: center 0;
}
.skill__item:nth-child(4) {
 background-image: url('./assets/svg/mic.svg');
 background-size: 32px 50px;
 background-repeat: no-repeat;
 background-position: center 0;
}
.item__title {
 display: flex;
 justify-content: center;
 font-family: "Inter";
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 40px;
 text-align: center;
 width: 280px;
 margin-bottom: 20px;
}
.item__text {
 width: 280px;
 font-family: "Inter";
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 36px;
 text-align: center;
}


/* ------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------footer---------------------------------------------------*/