:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white:#ffffff;
  --color-hero:#ffffff;
  --color-btn-hero:#bdae82;
  --color-btn-hero-hover:#ffffff;
  --color-btn-hero-hover-bg:#bdae82;
  --color-switch-on:#bdae82;
  --menu-color: rgb(0, 0, 0, 0.75);
  --header-bg: url('../img/header_bg.jpg');
  --header-bg-tablet: url('../img/tablet_header_bg.jpg');
  --theme-switch-bg:url('../svg/carbon_sun.svg');
  --logo-bg: url(../svg/logo.svg);
  --filter-hover: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  --font1: 60px;
  --font2: 40px;
  --btn-width: 220px;
}

[data-theme='light'] {
  --color-gold: #bdae82;
  --color-black: #ffffff;
  --color-white:#1C1C1C;
  --color-hero:#ffffff;
  --color-btn-hero:#ffffff;
  --color-btn-hero-hover:#bdae82;
  --color-btn-hero-hover-bg:#1C1C1C;
  --color-switch-on:#ffffff;
  --menu-color: rgb(255, 255, 255, 0.75);
  --header-bg: url('../img/header_bg_light.jpg');
  --header-bg-tablet: url('../img/tablet_header_bg_light.jpg');
  --theme-switch-bg:url('../svg/carbon_moon.svg');
  --filter-hover: invert(75%) sepia(21%) saturate(476%) hue-rotate(7deg) brightness(90%) contrast(88%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-black);
  color: var(---color-white);
  scroll-behavior: smooth;
  box-sizing: content-box;
}

.tablet {
  display: none;
}

.desktop {
  display: block;
}

.contacts,
.video,
.skills,
.price {
  margin: 0;
}

/* Buttons */

.btn_basic {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: var(--btn-width);
  height: 55px;
  cursor: pointer;
  border: 0;
  transition: all 0.3s;
}

.container {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.btn_hero{
  background-color: var(--color-btn-hero);
}

.btn_goldy {
  background-color: var(--color-gold);
}

.btn_blacky {
  color: var(--color-gold);
  background-color: transparent;
  border: 1px solid var(--color-gold);
}

/* .btn_basic:hover,
.btn_basic:focus {
  color: var(--color-white);
} */

.btn_hero:hover,
.btn_hero:focus {
  color: var(--color-btn-hero-hover);
  background: var(--color-btn-hero-hover-bg);
}

/* Navigation */

.header__bg {
  background: var(--header-bg);
  background-repeat: no-repeat;
  width: 1440px;
  height: 910px;
  position: absolute;
  z-index: -1;
  background-position: center center;
}

.wrapper_bg {
  position: relative;
  display: flex;
  justify-content: center;

}

.header__container {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}


.logo {
  width: 50px;
  height: 50px;
  background-image: var(--logo-bg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.logo:hover,
.logo:focus {
  filter: var(--filter-hover);
}

.navigation {
  display: flex;
/*   transition: all 0.2s; */
}

.navigation__item {
  margin-right: 30px;
}

.navigation__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: var(--color-white);
  transition: all 0.2s;
  cursor: pointer;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--color-gold);
  background: var(--color-btn-hero-hover-bg);  
  box-shadow: 0px 0px 0px 10px var(--color-btn-hero-hover-bg); 
}

.language__link:hover,
.language__link:focus {
  color: var(--color-gold);
  
}

.language__switch {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
  color: var(--color-white);
}

.language__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  cursor: poInter;
  color: var(--color-white);
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  transition: all 0.2s;
}

.language__link:not(:last-child) {
  margin-right: 8px;
}

.switch_on {
  color: var(--color-gold);
}
.theme__switch{
  background-image: var(--theme-switch-bg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  margin-left:35px;
  cursor: pointer;
}
.theme__switch:hover,
.theme__switch:focus {
  filter: var(--filter-hover);
}


/* Hero */

.container__header {
  height: 760px;
  margin-top: 160px;
}

.hero__content_box {
  display: flex;
  flex-direction: column;
  /*  margin: 0px 860px 0 60px; */
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
  padding: 0 60px;
  height: 100%;
}

.hero__header {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color:var( --color-hero);
}

.hero__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 15px;
  color:var( --color-hero);
}

/* Sections */

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  height: 140px;
}

.wrapper::before,
.wrapper::before {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--color-gold);
  position: absolute;
  top: 39px;
}

.section__header {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: var(--color-gold);
  background-color: var(--color-black);
  position: relative;
  padding: 0 20px;
}

.container__section {
  margin-bottom: 100px;
}


/* Skills */

.skills__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
  gap: 80px;
}

.skill__item {
  padding-top: 100px;
  color: var(--color-white);
}

.skill__item:nth-child(1) {
  background-image: url('../svg/camera.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.skill__item:nth-child(2) {
  background-image: url('../svg/video.svg');
  background-size: 60px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.skill__item:nth-child(3) {
  background-image: url('../svg/image.svg');
  background-size: 66px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.skill__item:nth-child(4) {
  background-image: url('../svg/mic.svg');
  background-size: 32px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.item__title {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 280px;
  margin-bottom: 20px;
}

.item__text {
  width: 280px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

/* Portfolio */

.portfolio_btns_lst {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
  gap: 5px;
  margin: 0 15px;
}

.portfolio_items_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.portfolio_item {
 /*  margin-top: -4px; */
  flex-shrink: 2;
  display: inline-flex;
}

/* Video */


.video_player {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vW;
  position: relative;

}


.video_btn {
  position: absolute;
  width: calc((100% - 63px) * 0.0972);
  height: calc((100% - 134px) * 0.228);
  cursor: pointer;
}

.video_btn_color {
  background-image: url("../svg/play.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: 0;
  transition: all 300ms;
  background-position: center center;
}

.video_btn_color:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


/* Price */

.price__block {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  color:var(--color-white);
}

.price__item {
  display: flex;
  width: 450px;
  height: 500px;
  border: 3px solid var(--color-gold);
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.price__title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}

.price__price {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: var(--color-gold);
  margin: 20px;
}

.price__text {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.price__btn {
  margin: 40px;
}

/* Contacts */
.contacts_bg.desktop {
  background: url('../img/contacts.jpg');
  background-repeat: no-repeat;
  width: 1440px;
  height: 700px;
  position: absolute;
  z-index: -1;
  background-position: center center;
}

.container__contacts {
  position: relative;
  display: flex;
  justify-content: center;
  height: 700px;
}

.wrapper__contacts {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form__contacts {
  /*   width: 450px;
  height: 445px; */
  padding: 65px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
  align-items: flex-start;
}

.contacts__title {
  margin-bottom: 20px;
  background-color: transparent;
  text-align: left;
  padding: 0;
}

input {
  height: 50px;
}

textarea {
  height: 100px;
  resize: none;
  border-radius: 0px;
  margin-bottom: 25px;
  color: var(--color-gold);
}

.form_input {
  width: 450px;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gold);
  padding-left: 20px;
  color: var(--color-gold);
  margin: -1px;
}

.btn_contacts {
  margin: 6px 0;
}

::placeholder {
  font-family: Inter;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-gold);
}

/* ------------------*/
/* ------footer------*/


.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  display: none;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  position: relative;
}

.footer__list {
  display: flex;
  gap: 20px;
}

.footer_item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}

.footer-school {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}

.link {
  color: var(--color-white);
  transition: all 300ms;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--color-gold);
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--color-white);
  transition: all 300ms;
}

.icon:hover {
  fill: var(--color-gold);
}

.icon-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
